/* Root Variables */
:root {
  --primary-color: rgb(11, 78, 179);
  --max-width: 560px;
  --max-height: 780px;
  --transition-speed: 0.3s;
}

/* Global Styles */
body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

canvas {
  max-width: var(--max-width);
  max-height: var(--max-height);
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: width var(--transition-speed) ease-in-out;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-speed);
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #ffffff;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #fff;
}

.form {
  min-width: clamp(350px, 30%, 480px);
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
  overflow: hidden;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: fadeIn 0.7s ease-out;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
  padding: 10px;
}

.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

.btn:hover {
  background-color: #1a61a7;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

input[type="file"]::file-selector-button {
  background: var(--primary-color);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #1a61a7;
}

/* Animations */
@keyframes fadeIn {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .form {
    width: 100%;
    padding: 1rem;
  }

  .progressbar {
    flex-direction: column;
    align-items: center;
  }

  .progress-step {
    margin-bottom: 1rem;
  }
}
